{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Message - MessagePro</title>
    <link rel="stylesheet" href="{% static 'dashboard/css/userhome.css' %}">
    <script src="{% static 'dashboard/js/userhome.js' %}"></script>
</head>
<body>
    <header>
        <!-- Replace the h1 with the logo image -->
        <img src="{% static 'dashboard/images/logo_mp.png' %}" alt="Logo">
        <nav>
            <button onclick="window.location.href='{% url 'inbox' %}'">Inbox</button> <!-- Button to go to Inbox page -->
        </nav>
    </header>

    <main>
        <h2>Send Message</h2>
        <form id="sendMessageFormElement" method="POST" onsubmit="sendMessage(event)">
            {% csrf_token %}
            <label for="user_id">User ID:</label>
            <input type="text" id="user_id" name="user_id" required><br><br>
            <label for="message">Message:</label>
            <textarea id="message" name="message" required></textarea><br><br>
            <button type="submit">Send Message</button>
        </form>
    </main>

    <footer>
        <p>&copy; 2024 MessagePro. All rights reserved.</p>
    </footer>
</body>
</html>
