{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inbox</title>
    <script src="{% static 'dashboard/js/userhome.js' %}"></script>
</head>
<body>
    <h1>Inbox</h1>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message.timestamp }} - {{ message.message }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No messages received yet.</p>
    {% endif %}
</body>
</html>
