/* General Styles */
body {
    background-color: #ECEBDE;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #3B1E54;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo-container img {
    height: 50px;
    width: auto;
}

.header-buttons button {
    background-color: #3B1E54;
    color:  #3B1E54;
    border: none;
    padding: 8px 12px;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.header-buttons button:hover {
    background-color: #8dc996;
}

/* Main Section */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    min-height: 80vh;
}

.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

/* Image Section */
.image-container img {
    max-width: 300px;
    height: auto;
}

/* Form Section */
.form-container_send-message {
    background-color: rgb(221, 234, 215);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    border: 2px solid #3B1E54;
}

.form-container_send-message .server-info img {
    max-width: 100px;
    margin: 0 auto 20px;
    display: block;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: bold;
}

form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    resize: none;
    font-size: 14px;
}

form button {
    background-color: #3B1E54;
    color: white;
    padding: 12px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #8dc996;
}

/* Footer */
footer {
    background-color: #3B1E54;
    color: rgb(167, 227, 165);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .header-buttons {
        margin-top: 10px;
    }

    .content-wrapper {
        flex-direction: column;
    }

    .form-container_send-message {
        max-width: 90%;
    }

    .image-container img {
        max-width: 250px;
    }
}

@media (max-width: 480px) {
    .header-buttons button {
        font-size: 12px;
        padding: 6px 10px;
    }

    form button {
        font-size: 14px;
    }
}
